<div class="padding-global">
    <div class="container-large">
    <div class="padding-section-medium _w-dyn-list">
    <ul role="list" class="filter_product-list _w-dyn-items w-list-unstyled">
    {% for item in search.results %}    <li li-for="item in search.results">
                                    
                            {% render 'product_item', product: item %}

                            
                        </li>
{% endfor %}    </ul>
    </div>
    </div>
    </div>
    


{% schema %}
    {"tag":"section","name":"search_products","class":"section_collection","settings":[],"presets":[{"name":"search_products","category":"Liquify"}]}
{% endschema %}
