<div class="page-padding">
    <div x-data="" class="container-large">
        <div class="filter_form-component w-form">
            <form
                method="get"
                name="wf-form-"
                data-name=""
                id="wf-form-"
                x-bind:action="'{{ routes.search_url }}'"
                x-bind:role="'search'"
                class="filter_form-form"
                data-wf-page-id="65f2b1f8d023e4faf1524a49"
                data-wf-element-id="a7e051b3-138d-7162-9bfb-b35f673b4c05"
            >
                <div class="filter_nav">
                    <div class="product_nav-link">Search:</div>
                    <input
                        class="form-input is-search"
                        type="search"
                        li-object:value="search.terms | escape"
                        placeholder="Search"
                        value="{{ search.terms | escape }}"
                    >
                </div>
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "tag": "section",
    "name": "search_bar",
    "class": "section-product-nav",
    "settings": [],
    "presets": [{ "name": "search_bar", "category": "Liquify" }]
}
{% endschema %}
