<div class="padding-global">
    <div class="container-small">
    <div class="padding-section-large">
    <div class="text-align-center">
    <div class="max-width-xlarge align-center">
    <div class="margin-bottom margin-small">
    <h1>
{{ section.settings.text_headline }}
</h1>
    </div>
<p class="text-size-medium">
{{ section.settings.text_text }}
</p>
<div class="margin-top margin-medium">
    <div class="button-group is-center">
    <a li-object:href="routes.root_url" href="{{ routes.root_url }}" class="button w-button">
    Back to Home    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    


{% schema %}
    {"tag":"header","name":"signup_thank_you","class":"section_header","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Thanks for signing up"},{"id":"text_text","type":"text","label":"Text","default":"Please activate your E-Mail-Address"}],"presets":[{"name":"signup_thank_you","category":"Liquify"}]}
{% endschema %}
