{% layout 'article' %}
<main li-content-for-layout="" class="main-wrapper" section-wrapper="main.main-wrapper">
    {% section 'article_hero' %}
    {% section 'article_content' %}
    {% section 'article_next' %}
</main>
