{% layout 'list-collections' %}
<main li-content-for-layout="" class="main-wrapper" section-wrapper="main.main-wrapper">
    {% section 'list_collection_hero' %}
    {% section 'list_collection' %}
</main>
