{% layout 'product' %}
<main li-content-for-layout="" class="main-wrapper" section-wrapper="main.main-wrapper">
    {% section 'product_hero' %}
    {% section 'product_description' %}
    <div
        data-w-id="bd511180-0423-0368-4cca-ff6e8186665a"
        data-animation-type="spline"
        data-spline-url="https://prod.spline.design/VZGkihVWbi5SA2Oi/scene.splinecode"
    >
        <canvas> </canvas>
    </div>
    {% section 'product_recommended' %}
</main>
